.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/*.js.map
**/*.ts
**/*.test.ts
**/*.test.js
**/*.spec.ts
**/*.spec.js
.gemini/**
.serena/**
test/**
out/test/**
CLAUDE.md
GEMINI.md
pnpm-lock.yaml
